* {
  font-family: monospace;
  padding: 10px;
}
/* -----header--------------------------------------------------------- */
.title {
  color: #0101c4;
  font-weight: 900;
}
.gradiantText {
  background: linear-gradient(to right, #00f, #00c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* --------main--------------------------------------------------------- */
.main {
  border: #00f solid 1px;
  border-radius: 10px;
  text-align: left;
  padding: 20px;
}
.btn {
  border: none;
  border-radius: 30px;
  padding: 20px;
  font-weight: 500;
  cursor: pointer;
}

.clearAllBtn {
  color: crimson;
  background-color: #fff;
  border: red solid 1px;
}
.clearAllBtn:hover {
  color: #fff;
  background-color: crimson;
}
.tasks-box {
  border-top: rgb(78, 78, 255) dashed 2px;
  padding: 20px;
  margin: 20px;
}
.task-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.task-container input {
  margin-right: 10px;
}
#taskItem {
  width: 30px;
  height: 30px;
  accent-color: rgb(81, 139, 255);
  margin: 0;
  cursor: pointer;
  display: inline;
}

.taskDescription {
  font-size: 20px;
  color: rgb(0, 0, 89);
  padding: 0;
  display: inline;
}
/* -----new task ------------------------------------------------------- */
.new-task {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  justify-content: space-between;
}
.textBox {
  width: 60%;
  height: 50px;
  margin: 10px;
}
.addTaskBtn {
  color: #fff;
  font-size: 20px;
  background-color: rgba(0, 0, 255, 0.795);
  padding: 20px 50px 20px 50px;
}
.addTaskBtn:hover {
  background: linear-gradient(to right, rgb(0, 106, 255), rgb(7, 46, 144));
}
